<div class="contents row abc" >
    <p><%= @nickname %>сЂЋсѓЊсЂ«ТіЋуе┐СИђУдД</p>
 <div class="background">
      <% @tweets.each do |tweet| %>
       <div class="content_post">
         <% if user_signed_in? && current_user.id == tweet.user_id %>
            <%= link_to 'РЮї', "/tweets/#{tweet.id}", method: :delete %>
              <%= link_to '­ЪЏа', "/tweets/#{tweet.id}/edit", method: :get %>
         <% end %>
          <%= simple_format(tweet.text) %>
           <span class="name">
              <p href="">
              <span>ТіЋуе┐УђЁ</span><%= tweet.user.nickname %>
              </p>
              <p href="">
              <span>ТіЋуе┐ТЎѓжќЊ</span><%= tweet.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
              </p>
            </span>
        </div>
      <% end %>
    </div>
    <%= paginate(@tweets) %>
  </div>
